#navigation {
  background-color: blue;
  overflow: hidden;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Center the navigation items */
}

#navigation ul {
  position: relative;
  display: block;
  padding: 0;
}

#navigation ul li {
  float: left;
  left: 50%;
  position: relative;
  list-style-type: none;
}

#navigation ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  text-decoration: underline overline;
}

#navigation ul li a:hover {
  background-color: #000;
}

#sidebar {
  background-color: red;
  position: fixed;
  right: 0;
  width: 20%;
  height: 100%;
  padding: 0;
  text-align: center;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  display: block;
}

#sidebar ul li a {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}

#sidebar ul li a:hover {
  background-color: #000;
}
