#main-navbar {
  background-color: blue;
  
}

#navbar-container {
  /* background-color: gray; */
}

#navbar-container ul {
  position: relative;
  list-style-type: none;
  margin: 3em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: red; */
  /* left: 50%; */
  text-align: center;
}

#navbar-container ul li {
  /* float: center; */ 
  /* margin: 20px; */
  /* padding: 10px; */
  /* background-color: green; */
  /* right: 50%; */
  display: inline-block;
  
}

#navbar-container ul li a {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #fff;
}

#navbar-container ul li a:hover {
  background-color: black;
}

#onpage {
  text-decoration: overline underline;
  color: black;
}

#sidebar {
  right: 0%;
  position: fixed;
  background-color: red;
  width:20%;
  height: 100%;
  
}

#sidebar-container ul {
  position: relative;
  list-style-type: none;
  /* background-color: salmon; */
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
 }

#sidebar-container ul li {
  /* background-color: white; */
  display: block;
  text-align: center;
  right: 20%;
}

#sidebar-container ul li a {
  text-decoration: none;
  display:block;
  padding: 15px 0px;
  color: #fff;
}

#sidebar-container ul li a:hover {
  background-color: black;
  /* text-decoration: underline; */

}
